 <%= render "shared/header" %>
 <div class='recommendation-card-container'>
  <% @recommendation.each do |recommendation| %>
    <div class='recommendation-card'>
      <h2><%= recommendation.title %></h2>
      <p><%= recommendation.comment %></p>
    </div>
  <% end %>
</div>
