@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Bitter:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  background-color: #161616;
  // min-height: 100vh;
}


h2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Bebas Neue";
}

p{
  color: white;
  font-family: "Bitter";
  font-size: 18px;
}

h1 {
  font-family: "Amatic SC";
  color: White;
  font-size: 45px;
}
$Font-h2: "Bebas Neue";
$Font-p: "Baskervville";

h3 {
  color: rgba(255, 255, 255, 0.6);
}
