@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  background-color: #161616;
  // min-height: 100vh;
}


h2 {
  color: white;
  font-size: 30px;
  font-family: "Bebas Neue";
}

p{
  color: white;
  font-family: "Baskervville";
}

$Font-h2: "Bebas Neue";
$Font-p: "Baskervville";
