<div class='header'>
  <div>
    <a href="/">MY ANIME LIST</a>
  </div>
  <div>
    <% if (defined? current_user) && current_user.present? && current_user.admin? %>
      <%= link_to 'ADD ANIME', new_anime_path %>
    <% end %>
    <a data-action="click->index-fade-out#recommendation">RECOMENDATIONS</a>
  </div>
</div>
