<div class='header'>
  <a href="/animes">MY ANIME LIST</a>
  <div>
    <a href='/animes/new'>ADD ANIME</a>
    <a data-action="click->index-fade-out#recommendation">RECOMENDATIONS</a>
  </div>
</div>
