<div id='landing-container' data-controller="landing-page btn-landing">
  <div id='left-panel'>
    <div id='left-panel-content' class='no-display' data-landing-page-target='leftPanel'>
      <div class='hero-banner'></div>
      <div id="vespa"></div>
    </div>
  </div>
  <div id='right-panel-anim'>
    <div id='right-panel' data-landing-page-target="rightPanel">
      <div id='right-panel-content' class='no-display' data-landing-page-target='rightPanelContent'>
        <h1> Hey ! Welcome to my <span style="color: rgb(86, 135, 188)">Anime list</span></h1>
        <p> For more than 10 years now, I have been passioned by Japanese Animation. I created this website to share
        all the animes i've been watching so far. I truely hope it will help you finding the masterpiece you are looking for. <br> <br> Also feel free to send some recommendations !</p>
        <div class='btn-home-index' data-btn-landing-target='btn'>
          <p>Discover</p>
        </div>
      </div>
    </div>
  </div>

  <div id='fade-out-index-1' class='fade-out-index no-display' data-btn-landing-target='panel1'></div>
  <div id='fade-out-index-2' class='fade-out-index no-display' data-btn-landing-target='panel2'></div>

</div>
