<div id='landing-container'>
  <div id='left-panel'>
    <div id='left-panel-content' class='no-diplay'>
      <div class='hero-banner'></div>
      <div id="vespa"></div>
    </div>
  </div>
  <div id='right-panel-anim'>
    <div id='right-panel'>
      <div id='right-panel-content' class='no-diplay'>
        <h1> Hey ! Welcome to my <span style="color: rgb(86, 135, 188)">Anime list</span></h1>
        <p> For more than 10 years now, I have been passioned by Japanese Animation. I created this website to share
        all the animes i've been watching so far. I truely hope it will help you finding the masterpiece you are looking for. <br> <br> Also feel free to send some recommendations !</p>
        <div class='btn-home-index'>
          <p>Discover</p>
        </div>
      </div>
    </div>
  </div>

  <div id='fade-out-left-1' class='fade-out-index no-diplay'></div>
  <div id='fade-out-left-2' class='fade-out-index no-diplay'></div>
  <div id='fade-out-right-1' class='fade-out-index no-diplay'></div>
  <div id='fade-out-right-2' class='fade-out-index no-diplay'></div>

</div>
