.header {
  position: fixed;
  width: 100%;
  padding: 1em 0 2em 0;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  background-color: #161616;
  z-index: 2500;
  a {
    font-family: $Font-h2;
    font-size: 1em;
    color: white;
    text-decoration: none;
    margin: 0 2em;
    cursor: pointer;
  }
  animation: fade-in-banner 3s ease;
}

@media screen and (max-width: 767px) {
  .header {
    a {
      font-size: .6em;
    }
  }
}
