.index-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95vh;
  overflow-x: visible;
  transition: 2s;
}

#first-letter {
  position: fixed;
  bottom: 1em;
  left: 0;
  font-family: $Font-h2;
  font-size: 2em;
  color: white;
  margin: 0 1em;
  animation: fade-in-banner 1s ease;
}

.scale-down {
  transform: scale(0.3);
  transition: 2s;
}

.fade_index {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  background-color: #161616;
  transform-origin: right;
  transform: scaleX(0);
}

.fade_out {
  transform: scaleX(1);
  transform-origin: right;
  transition: 1s;
}

@keyframes fade-in-banner {
  0% { opacity: 0}
  100% {opacity: 1}
}

#fade-panel-index {
  animation: container-slide 2s ease;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  // background-color: #161616;
  transform: scaleX(0);

}

@keyframes container-slide {
  0% { transform: scaleX(100)}
  100% { transform: scaleX(0);}
}
