.index-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95vh;
  overflow-x: visible;
}

#first-letter {
  position: fixed;
  bottom: 1em;
  left: 0;
  font-family: $Font-h2;
  font-size: 2em;
  color: white;
  margin: 0 1em;
}
