.index-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 95vh;
  overflow-x: visible;
}

#first-letter {
  position: fixed;
  bottom: 1em;
  left: 0;
  font-family: $Font-h2;
  font-size: 2em;
  color: white;
  margin: 0 1em;
}

.scale-down {
  transform: scale(0.3);
  transition: 2s;
}

.fade_index {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  background-color: #161616;
  transform-origin: right;
  transform: scaleX(0);
}

.fade_out {
  transform: scaleX(1);
  transform-origin: right;
  transition: 1s;
}
