<h1>Animes#new</h1>
<p>Find me in app/views/animes/new.html.erb</p>

<head>

<%# TO FULLFILL WITH LINK TO CSS %>

</head>
<body>
  <div class="fs-form-wrap" id="fs-form-wrap">
				<div class="fs-title">
					<h1>Add a Anime to the list</h1>
					<div class="codrops-top">
						<a class="codrops-icon codrops-icon-prev" href="/animes"><span>Back to list</span></a>
					</div>
				</div>
				<form id="myform" class="fs-form fs-form-full" autocomplete="off">
					<ol class="fs-fields">
						<li>
							<label class="fs-field-label fs-anim-upper" for="q1">What's the anime's name ?</label>
							<input class="fs-anim-lower" id="q1" name="q1" type="text" placeholder="Hunter x Hunter" required/>
						</li>
						<li>
							<label class="fs-field-label fs-anim-upper" for="q2">Until which season id you watch it?</label>
							<input class="fs-anim-lower" id="q2" name="q2" type="text" placeholder="4" required/>
						</li>
            <li>
							<label class="fs-field-label fs-anim-upper" for="q3">Please add the synopsis</label>
							<input class="fs-anim-lower" id="q3" name="q3" type="text" placeholder="The story focuses on a young boy named Gon Freecss who discovers that his father, who left him at a young age, is actually a world-renowned Hunter, a licensed professional who specializes in fantastical pursuits such as locating rare or unidentified animal species, treasure hunting, surveying unexplored enclaves, or ..." required/>
						</li>
            <li>
							<label class="fs-field-label fs-anim-upper" for="q4">Please add the synopsis</label>
							<input class="fs-anim-lower" id="q4" name="q4" type="text" placeholder="4" required/>
						</li>

					</ol><!-- /fs-fields -->
					<button class="fs-submit" type="submit">Send answers</button>
				</form><!-- /fs-form -->
			</div><!-- /fs-form-wrap -->








</body>
