<!-- multistep form -->
<form id="multistepsform" data-controller='anime-form'>
  <!-- steps -->
    <div class="step-container" data-anime-form-target="formTargets">
      <label for="title">Title:</label>
      <input type="text" name="title" id="title">
    </div>

    <div class="step-container" data-anime-form-target="formTargets">
      <label for="synopsis">Synopsis:</label>
      <textarea name="synopsis" id="synopsis"></textarea>
    </div>

    <div class="step-container" data-anime-form-target="formTargets">
      <label for="rate-animation">Rate Animation:</label>
      <input type="number" name="rate-animation" id="rate-animation" min="0" max="5">
    </div>

    <div class="step-container" data-anime-form-target="formTargets">
      <label for="rate-synopsis">Rate Synopsis:</label>
      <input type="number" name="rate-synopsis" id="rate-synopsis" min="0" max="5">
    </div>

    <div class="step-container" data-anime-form-target="formTargets">
      <label for="picture">Picture:</label>
      <input type="file" name="picture" id="picture">
    </div>

    <div class="form-buttons">
      <button type="button" data-action="click->anime-form#previousStep">Previous</button>
      <button type="button" data-action="click->anime-form#nextStep">Next</button>
    </div>

</form>
<!-- progressbar -->
<div id="progressbar">
  <div class="progressdot" data-anime-form-target="progressDots"></div>
  <div class="progressdot" data-anime-form-target="progressDots"></div>
  <div class="progressdot" data-anime-form-target="progressDots"></div>
  <div class="progressdot" data-anime-form-target="progressDots"></div>
  <div class="progressdot" data-anime-form-target="progressDots"></div>
</div>

<%# <div class="form-buttons">
  <button type="button" data-action="click->anime-form#previousStep">Previous</button>
  <button type="button" data-action="click->anime-form#nextStep">Next</button>
</div> %>
