.anime-card {
  height: 200px;
  // width: 600px;
  // width: 500px;
  display: flex;
  align-items: center;
  margin-right: 1.5em;
  h2 {
    position: absolute;
    // mix-blend-mode: difference;
    max-height: 200px;
    // max-width: 300px;
    text-shadow: 0 0 2px #1E1E1E;
    overflow: hidden;
    // top: 50vh;
    // top: 5vh;
    z-index: 1000;
    transition: 0.5s;
  }
  .card-illustration {
    margin-left: 4em;
    margin-top: 0;
    height: 200px;
    width: 400px;
    object-fit: cover;
    // filter: grayscale(80%);
    filter: brightness(0.50);
    z-index: 500;
    transition: 0.7s;
  }
}

.card-zoom {
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

.anime-card:hover {
  .card-illustration{
    filter: brightness(1);
    transition: 0.7s;
    transform: scale(1.2);
  }

  h2 {
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 2px #1e1e1e00;
    transition: 0.5s;
  }
}
