.step-container {
  display: none;
}

.active {
  display: contents;
}

.active-dot {
  background-color: rgb(255, 0, 0);
  opacity: 1;
}

.progressdot {
  width: 1em;
  height: 1em;
  border: solid 1px white;
  border-radius: 50%;
  // background-color: white;
  // // opacity: 0.5;
}
