.hero-banner {
  background-image: url('https://res.cloudinary.com/dxhubssyx/image/upload/v1681030995/vn8db1nc3evytytezmwr.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  // width: 50vw;
  height: calc(1.3 * 40vw);
  z-index: 100;
}

#vespa {
  background-image: url('https://res.cloudinary.com/dxhubssyx/image/upload/v1681032328/mod_xqcdhm.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-20vw);
  // background-blend-mode: multiply;
  height: 20vw;
  width: 15vw;
  position: absolute;
  bottom: calc(50vh - (1.3 * 20vw));
  z-index: 200;
  animation: translation 10s linear infinite, vrombing 0.3s linear infinite;
  // animation: translation 10s linear infinite;
  animation-delay: 2s;
}

.no-display {
  display: none;
}

@keyframes translation {
  0% { transform: translateX(-20vw);}
  50% { transform: translateX(50vw) scaleX(1)}
  51% { transform: translateX(50vw) scaleX(-1)}
  100% { transform: translateX(-40vw) scaleX(-1)}
}

@keyframes vrombing {
  0% { bottom: calc(50vh - (1.3 * 20vw)); }
  33% { bottom: calc(50.2vh - (1.3 * 20vw)) }
  66% { bottom: calc(49.8vh - (1.3 * 20vw)) }
  100% { bottom: calc(50vh - (1.3 * 20vw)) }

}
