.hero-banner {
  background-image: url('https://res.cloudinary.com/dxhubssyx/image/upload/v1681030995/vn8db1nc3evytytezmwr.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  // width: 50vw;
  height: 100vh;
  z-index: 100;
}

#vespa {
  background-image: url('https://res.cloudinary.com/dxhubssyx/image/upload/v1681032328/mod_xqcdhm.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-20vw);
  // background-blend-mode: multiply;
  height: 33vh;
  width: 15vw;
  position: absolute;
  bottom: 2vh;
  z-index: 200;
  animation: translation 10s linear infinite, vrombing 0.3s linear infinite;
  animation-delay: 2s;
}

.no-display {
  display: none;
}

@keyframes translation {
  0% { transform: translateX(-20vw);}
  50% { transform: translateX(50vw) scaleX(1)}
  51% { transform: translateX(50vw) scaleX(-1)}
  100% { transform: translateX(-40vw) scaleX(-1)}
}

@keyframes vrombing {
  0% { top: calc(32vh + 0.5 * 40vw);; }
  33% { top: calc(32.2vh + 0.5 * 40vw);; }
  66% { top: calc(31.8vh + 0.5 * 40vw);; }
  100% { top: calc(32vh + 0.5 * 40vw);; }

}
