.fade-out-index {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#fade-out-index-1 {
  background-color: #a1a1a1;
  animation: panel-appear-Y ease 1s;
  transform-origin: right;
  z-index: 2000;
}

#fade-out-index-2 {
  background-color: #161616;
  animation: panel-appear-Y ease 1.2s;
  transform-origin: right;
  z-index: 2500;
}

@keyframes panel-appear-Y {
  0% {transform: scaleX(0);}
  100% {transform: scaleX(1);}
}
