.step-log-container {
  margin-bottom: 5em;
}

.form-log-inputs {
  margin-top: .3em;
  font-size: 2vw;
  background: none;
  border: none;
  border-bottom: solid 1px rgba(201, 201, 201, 0.563);
  width: 40vw;
}

.form-log-inputs::placeholder {
  color: rgba(255, 255, 255, 0.08);
}

.log-container {
  padding: 10vh 10vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: log-container 1.5s ease;
}

.btn-log {
  text-align: center;
  width: 9em;
  padding: 0.5em 0;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.262);
  border-radius: 5px;
  cursor: pointer;
  background-color: #161616;
}


@keyframes log-container {
  0%{ transform: translateY(100vh);}
  100%{ transform: translateY(0);}
}
