.step-log-container {
  margin-bottom: 5em;
}

.form-log-inputs {
  color: white;
  margin-top: .3em;
  font-size: 2vw;
  background: none;
  border: none;
  border-bottom: solid 1px rgba(201, 201, 201, 0.563);
  width: 40vw;
}

.form-log-inputs::placeholder {
  color: rgba(255, 255, 255, 0.08);
}

.log-container {
  padding: 10vh 10vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.btn-log {
  text-align: center;
  width: 8em;
  padding: 0.5em;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.262);
  border-radius: 5px;
  cursor: pointer;
  background-color: #161616;
  color: white;
  transition: 0.8s ease;
}

.btn-log:hover {
  letter-spacing: 0.1em;
  transition: 0.8s ease;
}

.step-log-container-fade1 {
  animation: log-fade 0.8s ease;
}

.step-log-container-fade2 {
  animation: log-fade 1s ease;
}

.step-log-container-fade3 {
  animation: log-fade 1.2s ease;
}

@keyframes log-fade {
  0% {transform: translateX(-100vw);}
  100% {transform: translateX(0);}
}
